@{
    ViewData["Title"] = "View Dish";
}
@Model Dish

<h1 class="crudheader">@Model.Name</h1>
<nav id="nav">
    <a href="/" id="viewhome">Home</a>
    <h2>|</h2>
    <a href="/addDish" id="viewadddish">Add a Dish</a>
</nav>
<h3>@Model.Name by @Model.Chef</h3>
<hr>
<h5 id="viewdescription">@Model.Description</h5>
<h5 id="viewcals">Calories: @Model.Calories</h5>
<h5>Tastiness: @Model.Tastiness</h5>
<div id="viewbuttons">
    <form asp-action="DeleteItem" asp-route-Dishid="@Model.DishId" asp-controller="Dish" method="post">
        <input type="submit" class="btn btn-danger" value="Delete">
    </form>
    @* <form asp-action="EditDish" asp-route-Dishid="@Model.DishId" asp-controller="Dish" method="post">
        <input type="submit" id="bluebutton" value="Edit Dish">
    </form> *@
    <a href="/dish/@Model.DishId/edit" class="btn btn-primary">Edit</a>
</div>